.section {
    padding: 120px 0;
}

.section:nth-child(1),
.section:nth-child(3),
.section:nth-child(5) {
    background-color: #fff;
}

.section:nth-child(2),
.section:nth-child(6) {
    background-color: #e4fdf9;
}

.section:nth-child(4) {
    background-color: #f0f1f1;
}

.section__heading {
    text-align: center;
    font-size: 30px;
}

.section__heading-detalies {
    max-width: 600px;
    text-align: center;
    color: #7e7e7e;
    margin: 35px auto 130px;
}

.info-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #363636;
}

.info-section__item {
    width: 370px;
    text-align: center;
    padding: 0 50px;
}

.info-section__icon {
    height: 100px;
    display: block;
}

.info-section__heading {
    width: 180px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
}

.info-section__det {
    margin-top: 25px;
}

.section-services__item {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    background-color: #fff;
    min-height: 438px;
    transition: all 0.1s;
}

.section-services__item:hover {
    background-color: #00897b;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.47);
    transition: all 0.2s;
}

.section-pricing__item {
    height: 670px;
    padding-top: 45px;
    padding-bottom: 60px;
    background: linear-gradient(175deg, #3949ab 30%, #fff 30.5%);
        transition: all 0.1s;
}

.section-pricing__item:hover {
        box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.47);
        transition: all 0.1s;
}

.section-services__btn {
    margin-top: 40px;
    color: inherit;
    border-color: inherit;
}

.section-services__btn:hover,
.section-services__btn:focus {
    outline-color: inherit;
}

.section-services__btn:active {
    background-color: #00d9c3;
}

.section-pricing__btn {
    margin-top: 60px;
}

.pricing-cards__heading,
.pricing-cards__price {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
}

.pricing-cards__price {
    margin-top: 40px;
}

.pricing-cards__dollar-sgn {
    font-size: 35px;
}

.pricing-cards__price-nbr {
    font-size: 50px;
}

.pricing-cards__period {
    font-size: 17px;
}

.pricing-cards__det-list {
    margin-top: 80px;
    color: #868686;
    font-size: 17px;
}

.pricing-cards__det-items {
    height: 40px;
    width: 170px;
    margin: 20px auto 0;
    border-bottom: 1px solid #b5b5b5;
}

.team-card {
    width: 370px;
    text-align: center;
    transition: transform 0.2s;
}

.team-card:hover {
    transform: scale(0.98);
    transition: transform 0.2s;
}

.team-card__img {
    border-radius: 15px;
}

.team-card__heading {
    font-size: 20px;
    font-weight: 600;
    margin: 30px 0 10px;
}

.team-card__socials li {
    display: inline-block;
    margin: 35px 10px;
}

.team-card__social-link {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #f0f1f1;
    border-radius: 10px;
    color: #00897b;
}

.team-card__social-link::before {
    line-height: 45px;
    color: inherit;
}

.team-card__social-link:hover {
    background-color: #3949ab;
    transform: scale(1.1);
    color: #fff;
}

.team-card__det {
    font-size: 15px;  
}

.blog-article {
    display: flex;
}

.blog-article__illustration {
    width: 77.5%;
}

.illustration-one,
.illustration-three {
    order: -1;
    margin-right: 25px;
}

.blog-article__heading {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

.blog-article__main {
    padding: 60px 0;
}

.blog-article__time,
.blog-article__topic {
    padding-left: 30px;
    font-size: 17px;
    font-weight: 600;
}

.blog-article__text {
    margin-top: 30px;
    color: #7b7b7b;
    width: 80%;
}