/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face
{
    font-family: 'fa';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/fa-solid-900.woff2') format('woff2'),
    url('../fonts/fa-solid-900.woff') format('woff');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff');
}

@font-face
{
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff');
}

:focus
{
    outline: none;
    box-shadow: 0 0 3px 7px rgba(255, 78, 46, 0.37);
    border-radius: 1px;
}

html
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after
{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body
{
    font-family: 'Roboto';
    font-size: 20px;

    margin: 0;

    color: black;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

a
{
    text-decoration: none;

    color: inherit;
}

img
{
    width: 100%;
    height: auto;
}

figure
{
    font-size: 0;

    width: 100%;
    margin: 0;
    padding: 0;
}

ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}

h1,
h2,
h3,
p
{
    margin: 0;
    padding: 0;
}

button
{
    cursor: pointer;
    -webkit-transition: background-color .3s;
         -o-transition: background-color .3s;
            transition: background-color .3s;
}

.btn-secondary-dsgn
{
    font-size: 16px;

    width: 210px;
    height: 45px;

    color: #f82370;
    border: 1px solid #f82370;
    background-color: transparent;
    transition: all 0.2s;
}

.btn-secondary-dsgn::after
{
    content: 'Заказать звонок';
}

.btn-chief-dsgn
{
    font-size: 18px;

    width: 270px;
    height: 60px;

    color: #fff;
    border: none;
    background-color: #ff4e2e;
    overflow: hidden;
    position: relative;
    transition: all 0.2s;
}

.btn-chief-dsgn::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: -10%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(-5em, 7.5em);
    transition: left 0s;
}

.btn-chief-dsgn:hover::after {
    left: 150%;  
    transition: left 0.4s ease-out;
}

.btn-chief-dsgn:hover,
.btn-secondary-dsgn:hover {
    transform: scale(1.02);
    transition: all 0.2s;
}

.btn-chief-dsgn:active,
.btn-secondary-dsgn:active {
    transform: scale(0.95);
}

.address
{
    font-size: 25px;
}

.address:hover
{
    color: #f82370;
}

.address:active {
    color: rgba(248, 35, 112, 0.53);
}

li > a:hover
{
    border-bottom: 1px solid #f82370;
    padding-bottom: 1px;

    color: #f82370;
}

li > a:active {
    color: rgba(248, 35, 112, 0.53);
}

.visually-hidden
{
    position: absolute !important;

    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;

    border: 0 !important;
}


.fixed-container
{
    max-width: 1170px;
    margin: 0 auto;
}

@media (max-width: 1300px)
{
    .fixed-container
    {
        max-width: 1020px;
        margin: 0 auto;
        padding: 0 40px;
    }
}

@media (max-width: 1024px)
{
    .fixed-container
    {
        max-width: 960px;
        padding: 0 40px;
    }
}

@media (max-width: 960px)
{
    .fixed-container
    {
        min-width: 320px;
        max-width: 768px;
        padding: 0 20px;
    }

    .btn-chief-dsgn
    {
        font-size: 16px;
    }
}
