@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;

    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
        url('../fonts/open-sans-v17-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;

    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('../fonts/open-sans-v17-latin-600.woff2') format('woff2'),
        url('../fonts/open-sans-v17-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../fonts/open-sans-v17-latin-700.woff2') format('woff2'),
        url('../fonts/open-sans-v17-latin-700.woff') format('woff');
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-size: 15px;
    font-family: 'Open Sans';

    margin: 0;

    color: black;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;

    color: inherit;
}

a:hover {
    color: #00897b;
}

a:active {
    color: #00d9c3;
}

a:focus {
    outline: none;
    border-bottom: 1px solid #00d9c3;
}

.link-btn:hover,
.link-btn:focus {
    color: inherit;
    outline: 2px solid;
    outline-color: inherit;
    outline-offset: 4px;
    transform: scale(1.01);
    transition: all 0.1s;
    border-color: inherit;
}

img {
    width: 100%;
    height: auto;
}

figure {
    font-size: 0;

    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.btn {
    cursor: pointer;
    width: 170px;
    height: 50px;
    border: 2px solid #000;
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans';
}

.btn:hover,
.btn:focus {
outline: 2px solid #000;
    outline-offset: 4px;
    transform: scale(1.01);
    transition: all 0.1s;
}

.btn:active {
    background-color: #00897b;
    transform: scale(0.98);
    color: inherit;
    border-color: inherit;
    outline-color: inherit;
}

.visually-hidden {
    position: absolute !important;

    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);

    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;

    border: 0 !important;
}

.fixed-container {
    max-width: 1170px;
    margin: 0 auto;
}
